.form-container{
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-row{
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;

    /*border: 1px solid blue;*/
}

.form-container-aside{
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

#finalizar{
    margin-bottom: 0.019rem;
}

.text-container{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

